body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CARD SIZE FIX */
.product-card {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  
}

/* IMAGE FIX */
.product-img-wrapper {
  height: 280px;
  overflow: hidden;
  display: block;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON ALIGNMENT */
.product-card .btn {
  height: 40px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
